* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
	background-color: #232526;
	}

header { 
	font-family: sans-serif, monospace; 
	vertical-align: middle; 
	background: #000; 
	background: linear-gradient(#222, #000) repeat scroll 0% 0% transparent; 
	border-bottom: 4px solid #191919; 
	padding: 8px; 
    width:100%;
    position:fixed;
    top:0px;
	}
	
header h1 { 
	color: white; 
	font-size: 26px; 
	}
	
header h1 b{ 
	color: #E61859; 
	font-size: 26px; 
	}

header h1 small { 
	font-size: 12px; 
	color: #666;
	}

header h2 { 
	color: #789; 
	font-size: 10px;
	overflow-x: hidden;
	}

header h2 span { 
	font-size: 12px; 
	color: #bcd;
	font-family: 'Consolas', 'Droid Sans', 'Monospace'; 
	margin-left: 12px;
	}

#cmd {

	}

.main { 
	margin-top: 96px;
	margin-bottom: 72px;
	}

#playlist { 
	margin: 16px; 
	border: none;
	}

.footer { 
	position: fixed; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	padding: 0 16px; 
	height: 54px; 
	background: #000; 
	background: linear-gradient(#222, #000) repeat scroll 0% 0% transparent; 
	border-top: 2px solid #262626; 
	z-index: 100; 
	}
	
#inputbox { 
	text-align: center;
	margin: 20px; 
	border: 1px solid #4D4D4D;
	padding: 4px;
	}
	
#inputbox h2 { 
	text-align: left;
	color: #E6E6E6;
	font-size: 14px;
	padding-left: 6px;
	}
	
#input_url {
	width: 99%;
	font-size: 18px;
    border: 2px solid #232425; 
    padding: 15px;
    background: #D9D9D9;
    color: #1E90FF;
    margin: 0 0 10px 0;
}
	
#nav { 
	text-align: right;
	color: white;
	font-size: 12px;
	}
	
#info { 
	margin: 20px; 
	border: 1px solid #4D4D4D;
	padding: 4px;
	}

.b_info {
	float: right;
	}

a { 
	text-decoration: none; 
	border: 0px none; 
	}

a:hover { 
	text-decoration: underline; 
	}

ul { 
	list-style-type: none; 
	}

li { 
	border: none;
	color: white;
	}

.bt_radio { 
	width: 99%;
	min-height: 64px;
	border: 1px solid #1A1A1A;
	font-size: 24px;
	background-color: #2F3133;
	color: #E5E5E5;
	}

.bt_cmd { 
	min-width: 64px;
	min-height: 48px;
	border: 1px solid #232526;
	margin: 0;
	padding: 0;
	background-color: #1A1A1A;
	color: #E5E5E5;
	}

img {
	vertical-align: middle;
}

.radio {
	margin-bottom: 4px;
}
